.page {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding-top: 35px;
    overflow: hidden;
    font-family: sans-serif;
    min-width: 950px;
    display: flex;
    align-items: flex-start;
}

.page-body {
    min-width: 950px;
    color: white;
    max-width: 1440px;
    min-width: 800px;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background: linear-gradient(to top left, black 0%, rgba(0, 0, 0, 0.4) 50%) no-repeat center top / cover,
        url(../img/START.jpg) no-repeat center top / cover;
}

.page-body__main {
    min-width: 950px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100%;
    margin-bottom: 4vw;
}

.main-container {
    min-width: 950px;
    position: relative;
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-container__img {
    width: 100%;
    box-shadow: 0 0 0 6px rgb(0, 0, 0),
        0 0 25px 20px black;
    transition: 0.3s;
    max-width: 200px;
}

.main-conteiner__link {
    color: white;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.main-conteiner__link:hover {
    text-decoration: underline;
}

.main-container__item {
    width: 11vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 25px 0 25px;
    max-height: 220px;
}

.main-container__img:hover {
    box-shadow: 0 0 0 6px rgba(248, 0, 0, 0.6),
        0 0 25px 15px rgba(248, 0, 0, 0.6);
    transition: 0.3s;
}

.main-container__img:active {
    box-shadow: none;
    transform: scale(0.95);
    transition: 0.15s;
}

.main-container__img_open {
    box-shadow: 0 0 0 6px rgba(94, 206, 114, 0.6),
        0 0 25px 15px rgba(94, 206, 114, 0.6);
    transition: 0.3s;
}

.main-container__img_open:hover {
    box-shadow: 0 0 0 6px rgba(94, 206, 114, 0.6),
        0 0 25px 15px rgba(94, 206, 114, 0.6);
    transition: 0.3s;
}

.main-container__img_open+.main-conteiner__link {
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.item-1 {
    left: 0;
    top: 0;
}

.item-2 {
    right: 0;
    top: 0;
}

.item-3 {
    left: 0;
    bottom: 3.5%;

}

.item-4 {
    bottom: 3.5%;
    right: 0;
}

.main-container__form {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.main-form {
    transition: 0.3s;
    width: 20vw;
    height: 20vw;
    min-width: 300px;
    min-height: 250px;
    max-width: 450px;
    max-height: 450px;
    border-radius: 20px;
    background-color: rgb(129, 0, 0);
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 0 7px 7px rgb(58, 0, 0),
        0 0 25px 10px black;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}

.main-container__form_open {
    transition: 0.3s;
    visibility: visible;
    opacity: 1;
}


.main-form__overlay {
    content: '';
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    box-shadow: 0 0 0 200px rgb(0 0 0 / 30%);
}

.main-form__header {
    text-align: center;
    margin: 0;
}

.main-form__btn {
    padding: 7px 18px;
    cursor: pointer;
    border: none;
    background-color: rgb(0, 118, 29);
    color: white;
    border-radius: 10px;
    transition: 0.15s;
}

.main-form__btn:hover {
    opacity: 0.8;
    transition: 0.15s;
}

.main-form__btn:active {
    transition: 0.15s;
    background-color: rgb(0, 63, 16);
    opacity: 0.8;
}

.main-form-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    gap: 15%;
}

.main-form-list__item {
    width: 50%;
    padding: 0;
    margin: 0;
    position: relative;
    transition: 0.3s;
    display: flex;
    align-items: center;

}

.main-form-list__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 10px 15px;
    background-color: rgb(120, 0, 0);
    box-shadow: inset 0 0 5px 20px rgb(80, 0, 0),
        inset 0 0 0 3px rgb(100, 0, 0);
    box-sizing: border-box;
}

.main-form-list__item:hover .main-form-list__label {
    transition: 0.3s;
    color: rgb(120, 255, 118);
    text-shadow: 0 0 20px rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: inset 0 0 5px 20px rgba(120, 255, 118, 0.15),
        inset 0 0 0 2px rgba(120, 255, 118, 0.6);
    ;
    box-sizing: border-box;
}


.main-form-list__checkbox {
    visibility: hidden;
    display: none;
}

.main-form-list__label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: blanchedalmond;
    width: 1vw;
    height: 1vw;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    display: none;
}

.main-form-list__checkbox:checked+.main-form-list__label {
    color: rgb(0, 211, 53);
    box-shadow: inset 0 0 5px 20px rgba(32, 94, 40, 0.6);
}

.main-container__gameplay {
    width: 100%;
}

.gameplay {
    visibility: visible;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.gameplay_open {
    visibility: visible;
    opacity: 1;
}

.gameplay__stage-panel {
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.gameplay__header {
    text-align: center;
}

.gameplay__stage-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15%;
    padding: 0;
    width: 50%;
    justify-content: center;
}

.row-1 {
    background-color: rgb(0, 197, 99);
}

.row-2 {
    background-color: brown;
}

.row-3 {
    background-color: rgb(41, 96, 185);
}

.stage-list__item {
    list-style: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.card-deck {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    visibility: hidden;
    opacity: 0;
}

.card-deck_open {
    visibility: visible;
    opacity: 1;
}

.card-deck__item {
    width: 11vw;
    display: flex;
    justify-content: center;
    height: 235px;
    max-height: 235px;
}

.card-deck__img {
    width: 100%;
    max-width: 150px;
    box-shadow: 0 0 0 6px rgb(0, 0, 0),
        0 0 25px 20px black;
    transition: 0.3s;
    cursor: pointer;
    box-sizing: border-box;

}

.page-body__footer {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-info {
    margin: 0 auto;
    padding: 5px 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-info__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    width: 200px;
    transition: 0.3;
}

.footer-info__text:hover {
    text-decoration: underline;
}

.footer-info__text {
    color: white;
}

.img__open {
    opacity: 0;
    visibility: hidden;
}